{% extends "base.html" %}
{% block title %}Diagnosis{% endblock %}
{% block content %}
<br><br><br>
<div class="container" style="margin: auto auto;">
    <div class="card justify-content-md-center">
      <!-- <h5 class="card-header">Featured</h5> -->
      <div class="row align-items-end" style="margin: 10px 10px;">
          <div class="col-sm-6">
              <img src="../static/images/introduction.png" class="img-fluid" alt="" width="800" height="600">
          </div>
          <div class="col-sm-6">  
              <div class="card-body">
                <br>
                  <h5 class="card-title">Hello, </h5>
                  <p class="card-text">You’re about to use a short (3 min), safe and anonymous health checkup. Your answers will be carefully analyzed and you’ll learn about possible causes of your symptoms. Check your symptoms and find out what could be causing them.</p>
                  <br>
                  <h5>
                    Steps to Follow :
                  </h5>
                  <div class="list-wrapper">
                    <div class="red-line"></div>
                    <div class="list-item-wrapper">
                      <div class="list-bullet">1</div>
                      <div class="list-item">
                        <div class="list-title">Enter your symptoms</div>
                      </div>
                    </div>
        
                    <div class="list-item-wrapper">
                      <div class="list-bullet">2</div>
                      <div class="list-item">
                        <div class="list-title">Answer some simple questions</div>
                      </div>
                    </div>
        
                    <div class="list-item-wrapper">
                      <div class="list-bullet">3</div>
                      <div class="list-item">
                        <div class="list-title">Done! Your assessment will reveal:</div>
                      </div>
                      <ul class="check-symbols">
                        <li><span>&#10003;</span>&emsp;Possible disease based on your symptoms</li>
                        <li><span>&#10003;</span>&emsp;Information & causes of disease</li>
                        <li><span>&#10003;</span>&emsp;Suggested list of doctors</li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>
      </div>
          <a href="./diagnosis_1" class="btn btn-primary d-grid gap-3 col-4 mx-auto" style="width:20%; margin-bottom: 30px;">Checkup</a>
    </div>
</div>

{% endblock %}
