{% extends "base.html" %}
{% block title %}Diagnosis{% endblock %}
{% block content %}
<style>
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
</style>
<nav class="navbar navbar-custom navbar-expand-lg navbar-fixed-top navbar-inverse navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/home" style="font-family: Serif; color: #1576d1;"><img style="height: 40px;padding: 0px 5px;"src="../static/images/logo.png" alt="logo">DiagnoSoft</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Steps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Information</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><h5 class="dropdown-header">Profile</h5></li>
            <li><a class="dropdown-item" href="/profile">User Profile</a></li>
            <li><a class="dropdown-item" href="/history">User History</a></li>
            <div class="dropdown-divider"></div>
            <li><h5 class="dropdown-header">Settings</h5></li>
            <li><a class="dropdown-item" href="update">Edit Profile</a></li>
            <li><a class="dropdown-item" href="change_password">Change Password</a></li>
            <li><a class="dropdown-item" href="delete_account" onclick="return confirm('Are you sure you want delete this account ? ')">Delete Account</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <!-- <a class="btn btn-outline-success navbar-btn" href="/logout">LogOut</a> -->
      <!-- <button class="btn btn-outline-success navbar-btn" type="submit">Login</button> -->
    </div>
  </div>
</nav>
<div class="container" style="margin: auto auto;">
    <div class="card justify-content-md-center">
      <!-- <h5 class="card-header">Featured</h5> -->
      <div class="row align-items-end" style="margin: 10px 10px;">
          <div class="col-sm-6 services-section">
              <img src="../static/images/introduction.png" class="img-fluid" alt="">
          </div>
          <div class="col-sm-6">  
              <div class="card-body">
                <br>
                  <h5 class="card-title">Hello, </h5>
                  <p class="card-text">You’re about to use a short (3 min), safe and anonymous health checkup. Your answers will be carefully analyzed and you’ll learn about possible causes of your symptoms. Check your symptoms and find out what could be causing them.</p>
                  <br>
                  <h5>
                    Steps to Follow :
                  </h5>
                  <div class="list-wrapper">
                    <div class="red-line"></div>
                    <div class="list-item-wrapper">
                      <div class="list-bullet">1</div>
                      <div class="list-item">
                        <div class="list-title">Enter your symptoms</div>
                      </div>
                    </div>
        
                    <div class="list-item-wrapper">
                      <div class="list-bullet">2</div>
                      <div class="list-item">
                        <div class="list-title">Answer some simple questions</div>
                      </div>
                    </div>
        
                    <div class="list-item-wrapper">
                      <div class="list-bullet">3</div>
                      <div class="list-item">
                        <div class="list-title">Done! Your assessment will reveal:</div>
                      </div>
                      <ul class="check-symbols">
                        <li><span>&#10003;</span>&emsp;Possible disease based on your symptoms</li>
                        <li><span>&#10003;</span>&emsp;Information & causes of disease</li>
                        <li><span>&#10003;</span>&emsp;List of doctors for consultation</li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>
      </div>
          <a href="./diagnosis_0" class="btn btn-primary d-grid gap-3 col-4 mx-auto" style="width:20%; margin-bottom: 30px;">Start</a>
    </div>
</div>

{% endblock %}
