{% extends "navebar.html" %}
{% block title %}Home System{% endblock %}

{% block body %}
<section class="h-50">
    <div class="container container-custome" style="border-radius: 20px; background-color: #1576d1;">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 row-data">
          <h2 style="font-family: Merriweather serif;
          position: relative;
          color: white;">What concerns you about your health today?</h2>
          <p style="position: relative;
          left: 30px;
          color: white;
          text-align: justify;">
            Check your symptoms and find out what could be causing them. <br>It's fast, free and anonymous.
          </p>
          <button class="btn btn-success btn-custome" type="submit" onclick="location.href='login'">
            Check Here
          </button>
        </div>
        <div class="col-md-6 services-section">
          <img src="../static/images/1.png" style="
          
          margin: auto;
          display: block;
      "/>
        </div>
      </div>
    </div>
</section>

<div class="container" style="margin-top: 40px;
border-radius: 10px;">

</div >
<div class="container" style="margin: auto auto;">
  <div class="card justify-content-md-center">
    <!-- <h5 class="card-header">Featured</h5> -->
    <div class="row align-items-end" style="margin: 10px 10px;">
        <div class="col-sm-6">
            <img src="../static/images/2.png" class="img-fluid" alt="" width="800" height="600">
        </div>
        <div class="col-sm-6">  
            <div class="card-body">
              <br>
                <h2 class="card-title">Our system provides you with a fast and accurate health assessment, </h2>
                <br>
                <h5>
                  Steps to Follow :
                </h5>
                <div class="list-wrapper">
                  <div class="red-line"></div>
                  <div class="list-item-wrapper">
                    <div class="list-bullet">1</div>
                    <div class="list-item">
                      <div class="list-title">Enter your symptoms</div>
                    </div>
                  </div>
      
                  <div class="list-item-wrapper">
                    <div class="list-bullet">2</div>
                    <div class="list-item">
                      <div class="list-title">Answer some simple questions</div>
                    </div>
                  </div>
      
                  <div class="list-item-wrapper">
                    <div class="list-bullet">3</div>
                    <div class="list-item">
                      <div class="list-title">Done! Your assessment will reveal:</div>
                    </div>
                    <ul class="check-symbols">
                      <li><span>&#10003;</span>&emsp;Possible disease based on your symptoms</li>
                      <li><span>&#10003;</span>&emsp;Information & causes of disease</li>
                      <li><span>&#10003;</span>&emsp;Suggested list of doctors</li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 40px;
border-radius: 10px;">

</div >
 
  <div class="container-custome">
    <div class="container" 
    style="margin-top: 40px;
  border-radius: 10px;
  background-color: #fff;">
      <div class="row">
        <div class="col-md-6 row-data-3">
          <h2 style="font-family: Merriweather serif;
          position: relative;
          padding-top: 80px;
          padding-left: 30px;
          color: black;">We Technology Use </h2>
          <p style="position: relative;
          left: 30px;
          color: black;
          text-align: justify;">
           We use a Voting Classifier which is a machine learning model that trains on an ensemble of numerous models and predicts an output (class) based on their highest probability of chosen class as the output.
           It simply aggregates the findings of each classifier passed into Voting Classifier and predicts the output class based on the highest majority of voting. The idea is instead of creating separate dedicated models and finding the accuracy for each them, we create a single model which trains by these models and predicts output based on their combined majority of voting for each output class.
          </p>
        </div>
        <div class="col-md-6 services-section">
          <img src="../static/images/3.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <!-- Footer -->
    <footer
    class="text-center text-lg-start text-dark"
    style="background-color: #eceff1"
    >
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-between p-4 text-white"
      style="background-color: #21d192"
    >
      <!-- Left -->
      <div class="me-5">
        <span>Annasaheb Dange College of Engineering And Technology, Ashta.</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        
        <a href="https://adcet.ac.in/ADCET/" class="text-white me-4 text-link">
          <i class="fa fa-google" aria-hidden="true"></i>
        </a>
      
        <a href="https://www.linkedin.com/school/annasaheb-dange-college-of-engineering-and-technology-ashta/" class="text-white me-4 text-link">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Developed By</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              <a href="#!" class="text-dark text-link">18131006&emsp;Sagar D. Shirure </a>
            </p>
            <p>
              <a href="#!" class="text-dark text-link">18131008&emsp;Rutwik K. Baheti</a>
            </p>
            <p>
              <a href="#!" class="text-dark text-link">18131012&emsp;Pratap A. Yadav</a>
            </p>
            <p>
              <a href="#!" class="text-dark text-link">19132006&emsp;Sourabh S. Hawale</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold"></h6><br><br>
            <!-- <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            /> -->
            <p>
              <a href="https://www.linkedin.com/in/sagar-shirure-687561147/" class="text-white me-4 text-link">
                <i class="fa fa-linkedin" aria-hidden="true" style="color: black;"></i>
              </a>
              <a href="https://github.com/SagarShirure" class="text-white me-4 text-link">
                <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
              </a>
            </p>
            <p>
              <a href="https://www.linkedin.com/in/rutwik-baheti-7094b91a9/" class="text-white me-4 text-link">
                <i class="fa fa-linkedin" aria-hidden="true" style="color: black;"></i>
              </a>
              <a href="https://github.com/rutwikbaheti" class="text-white me-4 text-link">
                <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
              </a>
            </p>
            <p>
              <a href="https://www.linkedin.com/in/pratap-yadav-0a5770209/" class="text-white me-4 text-link">
                <i class="fa fa-linkedin" aria-hidden="true" style="color: black;"></i>
              </a>
              <a href="" class="text-white me-4 text-link">
                <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
              </a>
            </p>
            <p>
              <a href="https://www.linkedin.com/in/sourabh-hawale/" class="text-white me-4 text-link">
                <i class="fa fa-linkedin" aria-hidden="true" style="color: black;"></i>
              </a>
              <a href="https://github.com/Sourabh-1008" class="text-white me-4 text-link">
                <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
              </a>
            </p>
            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Under Guidance of</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              <a href="#!" class="text-dark text-link">Mr. Shrihari Khatawkar</a>
            </p>
          
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold"></h6><br><br>
            <!-- <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            /> -->
            <p>
              <a href="https://www.linkedin.com/in/shrihari-khatavkar" class="text-white me-4 text-link">
                <i class="fa fa-linkedin" aria-hidden="true" style="color: black;"></i>
              </a>
              <a href="" class="text-white me-4 text-link">
                <i class="fa fa-github" aria-hidden="true" style="color: black;"></i>
              </a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2022 Copyright:
      <a class="text-dark" href="#"
        >diseasediagnosis</a
      >
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
{% endblock %}