{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<nav class="navbar navbar-custom navbar-expand-lg navbar-fixed-top navbar-inverse navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/home" style="font-family: Serif; color: #1576d1;"><img style="height: 40px;padding: 0px 5px;"src="../static/images/logo.png" alt="logo">DiagnoSoft</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Steps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Information</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><h5 class="dropdown-header">Profile</h5></li>
            <li><a class="dropdown-item" href="/profile">User Profile</a></li>
            <li><a class="dropdown-item" href="/history">User History</a></li>
            <div class="dropdown-divider"></div>
            <li><h5 class="dropdown-header">Settings</h5></li>
            <li><a class="dropdown-item" href="update">Edit Profile</a></li>
            <li><a class="dropdown-item" href="change_password">Change Password</a></li>
            <li><a class="dropdown-item" href="delete_account" onclick="return confirm('Are you sure you want delete this account ? ')">Delete Account</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <!-- <a class="btn btn-outline-success navbar-btn" href="/logout">LogOut</a> -->
      <!-- <button class="btn btn-outline-success navbar-btn" type="submit">Login</button> -->
    </div>
  </div>
</nav>
  <div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
          <br>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              {% if user['gender'] == "male" %}
                <img class="rounded-circle mt-5" src="../static/images/male_user.jpg" width="250" >
              {% else %}
                <img class="rounded-circle mt-5" src="../static/images/female_user.jpg" width="250" >
              {% endif %}
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-row align-items-center back">
                      <button class="btn btn-primary">
                      <a href="./update?_id={{ user['_id'] }}" style="color: white; text-decoration: none;">
                        <h6 class="text-right">
                           Edit Profile 
                        </h6>
                      </a>
                    </button>
                    </div>
                    <button class="btn btn-primary">
                      <a href="./home" style="color: white; text-decoration: none;">
                         <h6>Back to home</h6>
                      </a>
                    </button>
                    
                </div>
                <br><br>
                <div class="row mt-2">
                    <div class="col-md-4">
                      <label for="name">Name : </label>
                    </div>
                    <div class="col-md-8 card">
                      <p name="name" class="card-text" style="padding:5px;">{{user.name}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4">
                    <label for="name">Email : </label>
                  </div>
                  <div class="col-md-8 card">
                    <p name="name" class="card-text" style="padding:5px;">{{user.email}}</p>
                  </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="name">Phone No : </label>
                </div>
                <div class="col-md-8 card">
                  <p name="name" class="card-text" style="padding:5px;">{{user.phone}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="name">DOB : </label>
                </div>
                <div class="col-md-8 card">
                  <p name="name" class="card-text" style="padding:5px;">{{user.dob}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="name">Gender : </label>
                </div>
                <div class="col-md-8 card">
                  <p name="name" class="card-text" style="padding:5px;">{{user.gender[0]|upper}}{{user.gender[1:]}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="name">Blood Group : </label>
                </div>
                <div class="col-md-8 card">
                  <p name="name" class="card-text" style="padding:5px;">{{user.blood_group}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
  
  {% endblock %}