{% extends "navebar.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}
<section class="h-50" style="background-color: #eee;">
    <div class="container container-custome">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-lg-8 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-8 col-sm-6 col-lg-6 order-2 order-lg-1">
  
                  <p class="text-center h2 fw-bold mb-2 mx-1 mx-md-2 ">Sign up</p>
  
                  <form class="mx-1 mx-md-2" action="" method="post">
  
                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fa fa-user fa-lg me-3 fa-fw" aria-hidden="true"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="fullname" id="inputFullName" class="form-control" placeholder="Your Name"required/>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fa fa-envelope  fa-lg me-3 fa-fw" aria-hidden="true"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" name="email" id="InputEmail" class="form-control" placeholder="Your Email" required/>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fa fa-lock  fa-lg me-3 fa-fw" aria-hidden="true"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" name="password1"id="InputPassword" class="form-control" placeholder="Password" required/>
                          </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fa fa-key  fa-lg me-3 fa-fw" aria-hidden="true"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" name="password2"  id="InputPassword2" class="form-control" placeholder="Repeat your password" required/>
                        
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-2">
                      <!-- <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form2Example3c"
                      /> -->
                      <label class="form-check-label" for="form2Example3">
                        Go Login<a href="/login">Login Page</a>
                      </label>
                    </div>
  
                    <div class="d-flex mx-2 mb-2 mb-lg-2">
                      <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="../static/images/4.png" class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% endblock %}