{% extends "base.html" %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<nav class="navbar navbar-custom navbar-expand-lg navbar-fixed-top navbar-inverse navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/home" style="font-family: Serif; color: #1576d1;"><img style="height: 40px;padding: 0px 5px;"src="../static/images/logo.png" alt="logo">DiagnoSoft</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Steps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Information</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><h5 class="dropdown-header">Profile</h5></li>
            <li><a class="dropdown-item" href="/profile">User Profile</a></li>
            <li><a class="dropdown-item" href="/history">User History</a></li>
            <div class="dropdown-divider"></div>
            <li><h5 class="dropdown-header">Settings</h5></li>
            <li><a class="dropdown-item" href="update">Edit Profile</a></li>
            <li><a class="dropdown-item" href="change_password">Change Password</a></li>
            <li><a class="dropdown-item" href="delete_account" onclick="return confirm('Are you sure you want delete this account ? ')">Delete Account</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <!-- <a class="btn btn-outline-success navbar-btn" href="/logout">LogOut</a> -->
      <!-- <button class="btn btn-outline-success navbar-btn" type="submit">Login</button> -->
    </div>
  </div>
</nav>
  <div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
          <br>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              {% if user['gender'] == "male" %}
                <img class="rounded-circle mt-5" src="../static/images/male_user.jpg" width="250" >
              {% else %}
                <img class="rounded-circle mt-5" src="../static/images/female_user.jpg" width="250" >
              {% endif %}
            </div>
        </div>
        

        <div class="col-md-8">
          <form action="./profile" method="post"> 
            <div class="p-3 py-5">
                <br><br>
                <div class="row mt-2">
                    <div class="col-md-4">
                      <label for="name">Name : </label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" name="name" class="form-control" placeholder="Full Name" value="{{user.name}}" >
                    </div>
                </div>

              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="name">Phone No : </label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="phone" value="{{user.phone}}" placeholder="Phone No ">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="name">DOB : </label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="dob" value="{{user.dob}}" placeholder="Date of Birth ">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="name">Gender : </label>
                </div>
                <div class="col-md-8">
                    {% if user.gender == "male" %}
                    <div class="form-check form-check-inline">
                      <label class="form-check-label" for="male">Male</label>
                      <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label" for="female">Female</label>
                      <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                    </div>
                    {% else %}
                    <div class="form-check form-check-inline">
                      <label class="form-check-label" for="male">Male</label>
                      <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label" for="female">Female</label>
                      <input class="form-check-input" type="radio" name="gender" id="female" value="female" checked>
                    </div>
                    {% endif %}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="name">Blood Group : </label>
                </div>
                <div class="col-md-8">
                  <select name="blood_group" id="" style=" text-align: center;" class="form-control">
                    {% if user['blood_group'] == "A+"%}
                      <option value="A+" selected>A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                    {% elif user['blood_group'] == "A-"%}
                      <option value="A+">A+</option>
                      <option value="A-" selected>A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                      {% elif user['blood_group'] == "B+"%}
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+" selected>B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                      {% elif user['blood_group'] == "B-"%}
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-" selected>B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                      {% elif user['blood_group'] == "AB+"%}
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+" selected>AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                      {% elif user['blood_group'] == "AB-"%}
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-" selected>AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                      {% elif user['blood_group'] == "O+"%}
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+" selected>O+</option>
                      <option value="O-">O-</option> 
                      {% else %}
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-" selected>O-</option>  
                      {% endif %} 
                  </select>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary d-grid gap-3 col-4 mx-auto" style="width:20%;margin-bottom: 30px;">Update</button>
          </form>
        </div>


          

    </div>
</div>
  
  {% endblock %}